* {
    box-sizing: border-box; 
}

body {
    margin: 10px;
    background-color: #f1e0c5;
    color: #6D442B;
}

h1, h2, h3 {
    font-family: 'Bernard MT Condensed', sans-serif;
    color: #6D442B;
    font-size: 50px;
    text-align: center;
}

p, li, span, div, a, input, textarea, select, button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    margin: 3% auto;
    width: 100%;
    height: auto; 
}

p {
    font-size: 40px;
}

header {
    background-color: white;
    padding: 10px;
    border-bottom: 2px solid #A88458;
}

.page_banner {
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
    display: flex;
    justify-content: space-between;
    
}

.page_banner img.logo {
    height: auto;
    width: 15%;
    max-width: 120px;
    min-width: 80px;
    border: none;
}

.page_banner img.name_banner{
    height: auto;
    width: 100%;
    padding-left: 5%;
    border: none;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #A88458;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 15px;
    padding: 6px 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 45px;    
}

nav a:hover {
    background-color: #6D442B;
    color: white;
    border-radius: 5px;
}

.page-label {
    background-color: white;
    color: #000;
    width: fit-content;
    border: 2px solid #000;
    display: block;
    padding: 10px 30px;
    margin: 30px auto;
    text-align: center;
    font-family: 'Bernard MT Condensed' sans-serif;
}

main {
    max-width: 100%;
    align-items: center;
    padding: 50% auto;
}

.full-video {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.advert {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
    border: 5px solid #6D442B;
}

.flex-container1 {
    width: 100%;
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 20px;
    padding-right: 0;

}

.flex-container2, .events {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;
    width: 100%;
}


.flex-container3 {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    text-align: left;
}

.flex-container-about{ 
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    
}

.about-left {
    flex: 1;
    background-color: white;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    max-width: 45%;
    text-align: center;
    max-height: 25%;
}

.about-right {
    max-width: 45%;
    text-align: center;
    max-height: 25%;
    flex: 1;
}

.flex-item1{
    text-align: center;
    width: 35%;
    padding-right: 18%;
}

.flex-item2 {
    border-radius: 20%;
    max-width: 320px;
    text-align: center;
    margin: 20px 18%;
}

.coffee-circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

}

.coffee-circle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 12px white;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid #6D442B;
}

.flex-item3 {
    text-align: center;
    width: 35%;
    background-color: white;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.flex-item4 {
    width: 35%;
    padding: 15px;  
    margin-top: 20px; 
}

.flex-item2 p {
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

.about-image img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.about-text {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.booking-form-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
}

form input, form textarea, form select, form button {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 4px solid #A88458;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 35px;
}

.bookings-page #bookingForm {
    width: 100%;
    max-width: 530px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px, rgba(0,0,0,0.15);
    text-align: center;
    margin: 40px auto;
    display: block;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form button {
    background-color: #6D442B;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    max-width: 40%;
}

form button:hover {
    background-color: #986437;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.menu-category {
    flex: 1 1 45%;
    background-color: white;
    padding-left: 15px;
    border-radius: 10px;
    
}

.menu-category ul {
    list-style: none;
    padding: 0;
}

.menu-category li {
    margin-bottom: 5px;
    font-size: 35px;
    text-align: center;
}


.menu-text {
    text-align: center;
    font-style: italic;
}

.oval-img  {
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
    height: 300px;
    object-fit:fill;
    border-radius: 50%;
    margin-top: 10px;
}

.promos {
    display: flex;
    flex-direction: column;
    gap: 25px;

}


.events {
    gap: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


.event-item {
    flex: 1 1 auto;
    max-width: 400px;
    padding: 15px;
    text-align: center;
    border-radius: 50%;
    justify-content: center;
}

.promo-item {
    display: flex;
    flex: 1 1 30%;
    max-width: 90%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    align-items: center;
    gap: 5px;
}

.promo-item p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.promo-item img {
    width: 45%;
    align-items: right;
    border-radius: 50%;
    border: 6px solid #6D442B;
}

.event-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 6px solid #6D442B;
    display: block;
    margin: 0 auto 15px;
    border-radius: 50%;


}
.events-text1{
    text-align: center;
}

.booking-images{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin: 30px 0 40px;
}

.circle-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #6D442B;
}

img {
    border: 6px solid #6D442B;
}

#calendar {
    width: 100%;
    margin-bottom: 10px;
}

footer {
    background-color: #A88458;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 40px;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footer-map-text{
    text-align: center;
    font-size: 30px;
}

.footer-book {
    display: flex;
    justify-content: center;
}

.footer-button, 
.book-button a {
    text-decoration: none;
    background-color: #6D442B;
    color: white;
    font-weight: bold;
    font-size: 150%;
    border-radius: 6px;
    padding: 12px 18px;
    display: inline-block;
    transition: background-color 0.3s ease;  
    height: 20%; 
}

.footer-button:hover, 
.book-button a:hover {
    background-color: #986437;
}

.mini_map {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    border-width: 10px;
    border-color:#6D442B;
    border-style: solid;

}

@media (max-width:768px) {
    
    nav {
        flex-direction: column;
        align-items: center;
    }

       nav a{
        font-size: 35px;
    }

    .page_banner {
        flex-direction: column;
        align-items: center;
        gap: 5%;
        margin: auto;
    }

    .page_banner img.logo,
    .page_banner img.name_banner {
        width: 100%;
    }

    .flex-container1, .flex-container2, 
     .events {
        flex-direction: column;
        align-items: center;
    }

    .flex-container3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .flex-item3,
    .flex-item4 {
        flex: 1 1 45%;
        margin: 5px auto;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .flex-item1 {
        width: 200px;
        text-align: center;
    }

    .flex-item2 {
        width: 90%;
        padding-right: 0;
        margin: 0 auto;
        text-align: center;
    }


    .flex-item3, 
    .flex-item4 {
        width: 100%;
    }

    .flex-item1 p {
        max-width: 100%;
        margin: 0 auto;
    }

    .about-left,
    .about-right {
        max-width: 100%;
    }

    .promo-item {
        padding-right: 30%;
    }

    .promo-item img {
        width: 85%;
        height: auto;
        object-fit: cover;
        max-width: 320px;
    }

    .menu-grid  {
        flex-direction: column;
        align-items: stretch;
    }

    .menu-category {
        width: 100%;
    }

    #bookingForm {
        padding: 20px;
    }

    .advert {
        width: 100%;
    }

    .circle-img {
        width: 160px;
        height: 160px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

@media (max-width: 1024px) {
    .promo-item, .event-item {
        flex: 1 1 45%;
        max-width: 100%;
    }

    .flex-container1, .flex-container2,
    .flex-container3, .flex-container-about, .events {
        flex-wrap: wrap;
        justify-content: space-evenly;

    }


    .flex-item1, .flex-item3,
    .flex-item4 {
        flex: 1 1 45%;
        margin: 5px auto;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .about-left, .about-right {
        flex: 1 1 48%;
        max-width: 48%;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }

    .circle-img {
        width: 30%;
        max-width: 300px;
        min-width: 120px;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
    }

}

}





